<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="AutoRenderClientInstallDir">
            <Component Id="cmp44FEF0E8B1ACDD0D88ED36E6AA3D8CCC" Guid="{C28B0002-04E6-4A74-8750-F7B49FAC8F30}">
                <File Id="filF618640331B639C8EE02D9DAE7DB566E" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Client.Config.dll" />
            </Component>
            <Component Id="cmpEB5C59FB44941462E6F6342227271147" Guid="{D3DC0550-F3B9-4945-AD85-715F22A05A0A}">
                <File Id="fil1D16A67B6A72450CAD5D90D13B8E30CC" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Client.Config.pdb" />
            </Component>
            <Component Id="cmp3924F405DE9C487AFC2B6B906721E51B" Guid="{57108AFC-BF34-4CA2-A5B9-2E9736D093A9}">
                <File Id="fil20682C45C2391036CC32A87A5F203015" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Client.Connection.dll" />
            </Component>
            <Component Id="cmpFEC8902766FC7164A98232658262AC84" Guid="{E69CF877-354F-42CE-AA2C-D13BF7B83CD0}">
                <File Id="filDBB3DD547457E2EBD6E151460BA8138F" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Client.Connection.pdb" />
            </Component>
            <Component Id="cmpB9B439CECC5CCC9C3649DB8F5ADD2349" Guid="{BA27FCB6-E7AA-4BA5-BD26-08B47AF9E353}">
                <File Id="fil8A177B45114EBAD005D266DFFDAFF323" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Client.Runtime.dll" />
            </Component>
            <Component Id="cmp2A2930A1B6EF178DF9BA2DBA785F686F" Guid="{CD154FF4-ACBF-4BFE-ADAE-FD65D7EF3EEF}">
                <File Id="filA0BED24618DF05A8815FD82B09AEBC7D" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Client.Runtime.pdb" />
            </Component>
            <Component Id="cmp0FFA39EB86B0A352800537D23A6E2DDD" Guid="{BCA160A9-BADE-4F52-8977-A845DFA452B2}">
                <File Id="fil418A0DFCF13233113666F5C9D47A704E" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Client.Workspace.dll" />
            </Component>
            <Component Id="cmpB878607AD01F93C904FC366BB8369337" Guid="{9D322442-8EE2-4AF6-88BB-625ED2C3BCE2}">
                <File Id="filA199C4DFA788DE12B37B444DF9D3047B" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Client.Workspace.pdb" />
            </Component>
            <Component Id="cmpDEAE395C43641F8BB485F48191C9B7BA" Guid="{5F227EC8-414D-417F-BA3A-B1EF35E5BD25}">
                <File Id="fil6C6BEA2C08E69F15E317847F1FC31D3F" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Data.dll" />
            </Component>
            <Component Id="cmp413628371A9043F2961770271ADB910A" Guid="{07953BC7-0156-4EEA-A301-2A742A88557B}">
                <File Id="filCEE40CB4673DD5F743DB9F703457A931" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Data.pdb" />
            </Component>
            <Component Id="cmp6E22425B24EFDF7D134251F3D8D471DE" Guid="{893209F9-C72C-42D6-BD86-21284F27A655}">
                <File Id="fil674AFD30ECE46D7B487683FE2488E2FC" KeyPath="yes" Source="$(var.BasePath)\AutoRender.exe" />
            </Component>
            <Component Id="cmpDBABF49B483D3C8D0D9377C6E89F3FC6" Guid="{783EBB7F-B170-40DA-AD72-D90DE36194CE}">
                <File Id="fil887A76DE613CB7A944B72C723E2345C2" KeyPath="yes" Source="$(var.BasePath)\AutoRender.exe.config" />
            </Component>
            <Component Id="cmpFA1B1201DB84E07C31BA43B001B22390" Guid="{DD1697CB-75EE-4C67-8642-B72682F01EE5}">
                <File Id="fil44B1D47E7E0048E5F0C1EB3926748398" KeyPath="yes" Source="$(var.BasePath)\AutoRender.log" />
            </Component>
            <Component Id="cmpB04E6DCD470AE8CC5E3DDFDAB3046A10" Guid="{BF202887-922D-4E49-A7D2-F193BB4D0FA4}">
                <File Id="fil87E4F2A574A6E4E8367387A71B1F1BBC" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Logging.dll" />
            </Component>
            <Component Id="cmp966587E4C9EE1109495580F1ED7EE6F9" Guid="{DBFBFCBE-4C8A-482B-8418-B064879C0E96}">
                <File Id="fil2741C6D4C3CA15217216CA5D4C6E5715" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Logging.pdb" />
            </Component>
            <Component Id="cmpDEC9BFBA9C6849E86A410567E4741B8D" Guid="{047B3914-2564-4EE5-A1EE-6E1A0A15C37F}">
                <File Id="fil7E14599F876623BDE1394EDA6B8ECB0D" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Messaging.Actions.dll" />
            </Component>
            <Component Id="cmp037D25DE6A93D2F8919033A2435CAD72" Guid="{34FD5440-64F6-407C-B110-A97992235D52}">
                <File Id="fil0374600E935B3132DCB6A32AA3FFDB4F" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Messaging.Actions.pdb" />
            </Component>
            <Component Id="cmp85FB75BC9029DF8E63931A8BF7D9240C" Guid="{4BFC8DD7-E189-46C8-9951-03330AEC9460}">
                <File Id="fil27CA97D5DEECB9FE9E590F937049579E" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Messaging.dll" />
            </Component>
            <Component Id="cmp016420CD866107B7F93AA3956F2CCB27" Guid="{A46F24D7-A17D-4966-91C8-9D8F70438D42}">
                <File Id="fil126AA56301C5833EDFAC7044C7D38B14" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Messaging.pdb" />
            </Component>
            <Component Id="cmpCC1D1D2BA549F7CE77A18B11A637FDCE" Guid="{13B36B25-6193-436F-81A5-560E646AD2BC}">
                <File Id="filEC6E5311487D1A7D2BACB03EE3A19053" KeyPath="yes" Source="$(var.BasePath)\AutoRender.pdb" />
            </Component>
            <Component Id="cmpEE17F60BA6A5DD459F7B051691A3A25A" Guid="{4253C512-5923-4DF2-BC57-0E7D21B18103}">
                <File Id="fil267D3BFFCFFB874CDA93BD8C75782225" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Subscription.Messaging.dll" />
            </Component>
            <Component Id="cmpF1CC645E471B4001C5C8669F9BDC301B" Guid="{89F5B4BC-93C3-43AD-9F04-FA17975FB200}">
                <File Id="filEF57A9272B69CC547FE483094C10F77B" KeyPath="yes" Source="$(var.BasePath)\AutoRender.Subscription.Messaging.pdb" />
            </Component>
            <Component Id="cmp8F188A2D05506B8561617C4CB9D612B6" Guid="{4AF80091-9B3B-4104-AD7E-78F9FFABDF62}">
                <File Id="fil96E74B9E47388C67F3B6EAD2AB576C11" KeyPath="yes" Source="$(var.BasePath)\ControlzEx.dll" />
            </Component>
            <Component Id="cmpF0AFAE17D21D2D92D26647E7805B4EC9" Guid="{0396CABE-FFE9-496C-8B0F-3243B79CE563}">
                <File Id="fil3BBF244623F75A87E6A1A3E99EDB2988" KeyPath="yes" Source="$(var.BasePath)\ControlzEx.pdb" />
            </Component>
            <Component Id="cmpB0639ADEC2BF3CBC497FA16DBB07C76E" Guid="{DE91C257-BEE2-4FE2-B9B8-0D815C83A5C6}">
                <File Id="filCEFFDB1FB781DB813462BEEA49A3E2AE" KeyPath="yes" Source="$(var.BasePath)\CrazyUtils.dll" />
            </Component>
            <Component Id="cmpAC397588AA54E42A4913C15D10C88CE1" Guid="{12E464B3-DF82-4823-AC7B-CED7EB482DCA}">
                <File Id="fil67C41292309523AA6B2F788E506F8F72" KeyPath="yes" Source="$(var.BasePath)\CrazyUtils.pdb" />
            </Component>
            <Component Id="cmp4D2ED5F47A3FD4D64C2A8FAB43C144A0" Guid="{15C729D4-1C4F-4BF3-91FE-0941A02199BE}">
                <File Id="fil8DBC84BF055CEA53DCC0B9BF98D7376A" KeyPath="yes" Source="$(var.BasePath)\FontAwesome.WPF.dll" />
            </Component>
            <Component Id="cmp089D45D53FD3775E985A7B3561D902CE" Guid="{0D870FDA-70D3-4DA3-B8A0-A5C2CBD75D88}">
                <File Id="fil17B3E384D45C4478146495389AC13B44" KeyPath="yes" Source="$(var.BasePath)\INIFileParser.dll" />
            </Component>
            <Component Id="cmp9414ED36844189D546BC827B4205FD4E" Guid="{E689198B-6640-4B8D-B3EF-8A2079BB2AE8}">
                <File Id="fil609FA3F0D9789785CF247D6BEF8BA5A9" KeyPath="yes" Source="$(var.BasePath)\log4net.dll" />
            </Component>
            <Component Id="cmpDF6FEB5FEBE0B4E43FC9F9BAC46FE195" Guid="{859099CF-EF50-4E18-9568-D994F9F9FFDA}">
                <File Id="filC4AECFA94946D58AEC28D8520A5D67F5" KeyPath="yes" Source="$(var.BasePath)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmpE56EDFEEF21EC8476F24DD1E90A0760B" Guid="{B027F7D9-BA41-4158-A9EA-4CF77C9922CC}">
                <File Id="fil23B7648FE38A42BD32CB4FEF6232499D" KeyPath="yes" Source="$(var.BasePath)\MahApps.Metro.pdb" />
            </Component>
            <Component Id="cmpDBBA127A64DFB9F1FEA64D65DEC3C06D" Guid="{820D8462-2D6C-4E8B-930E-3DE71E45049D}">
                <File Id="fil0CA5985B2D85734BFC6205993FE9EA41" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="cmp9A5A848119D47320B2D72503AFFF8B11" Guid="{E61B226A-0EC5-4D74-B51A-A392D0B3E2BE}">
                <File Id="fil4F17E29CB44B010385568E1CE794F52E" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignColors.pdb" />
            </Component>
            <Component Id="cmp6A04D6CF6D72D5E96400EB9800BC43BB" Guid="{0E095C95-5304-402F-B9C4-7947F43AC5DB}">
                <File Id="filA032DD439BE86A8DA7573842B73FA343" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignThemes.MahApps.dll" />
            </Component>
            <Component Id="cmp2D6AEDC7EE693FDE8F44D0BD264D507F" Guid="{144CF06D-5CF2-4CDA-BFF6-C86E8DB0B849}">
                <File Id="fil95F2D83703DD26B7A282F0A37850C423" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="cmp84013B279CF2C38251CFDD0495343E54" Guid="{540FDBF6-7146-48A4-B923-48B7C02313EB}">
                <File Id="filD71B1433F4D52D1591BC1C1CDE41088D" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignThemes.Wpf.pdb" />
            </Component>
            <Component Id="cmp496263722141001A21DD258EAE13DEB3" Guid="{6210594D-A3A5-4FCD-99CA-4A0AEE861696}">
                <File Id="fil3E3233B1B133633C31BFA3E45E7CBDA8" KeyPath="yes" Source="$(var.BasePath)\MediaToolkit.dll" />
            </Component>
            <Component Id="cmpB1F2BDAC730A2576EC5A5EB742CE90C8" Guid="{5DB9F6DA-C346-4186-B1F5-CA13EEF3EF22}">
                <File Id="filB695BFA0F6149298EC19E52E4DA91B68" KeyPath="yes" Source="$(var.BasePath)\Mitto.Config.dll" />
            </Component>
            <Component Id="cmp806E19DB67E5D13C25512ADC089C3C91" Guid="{47620FAA-ACE3-49A6-B929-6F3F53CDE100}">
                <File Id="fil9DFDF9AE907C76F2B309AE3543A58535" KeyPath="yes" Source="$(var.BasePath)\Mitto.Connection.Websocket.dll" />
            </Component>
            <Component Id="cmp19ACF8C03AF2CE434A6820A0F355B968" Guid="{0D7F4CD6-2D4A-4120-8FD3-9DF333D68C76}">
                <File Id="fil682C860516813EA2498CD1336024139D" KeyPath="yes" Source="$(var.BasePath)\Mitto.Connection.WebsocketSharp.dll" />
            </Component>
            <Component Id="cmp852DB0BE0F586485A2B05568966BE835" Guid="{224F2FA9-2C38-4152-8BF5-1497C1EDCE64}">
                <File Id="filF68378BF9F8AA067EF58870E42AE9E4D" KeyPath="yes" Source="$(var.BasePath)\Mitto.dll" />
            </Component>
            <Component Id="cmpF7FB10003111A9858CEB15511FC4501C" Guid="{5DAC724F-9AB1-483C-9ED9-EFB95E992183}">
                <File Id="fil5BD11C0FA00F4A2D398D663A830D0637" KeyPath="yes" Source="$(var.BasePath)\Mitto.IConnection.dll" />
            </Component>
            <Component Id="cmpB85741B8566813C316FF75176E7E3B3F" Guid="{5C36397E-AAB4-442F-B73B-8902D55418A2}">
                <File Id="fil516C056E5B9BD7FE277FEF36E4DC6AE5" KeyPath="yes" Source="$(var.BasePath)\Mitto.IMessaging.dll" />
            </Component>
            <Component Id="cmpC43ED9AB69A80463FF68C45BD4E85683" Guid="{163A3DB2-2AEE-46DC-BE64-01E40B511042}">
                <File Id="fil2BB3A84AFC50EB06950EA3644117A2B3" KeyPath="yes" Source="$(var.BasePath)\Mitto.IRouting.dll" />
            </Component>
            <Component Id="cmpE843071C377D1D254F6E808E05AEF4D3" Guid="{8205D2C1-4C7E-475B-A283-4F8EB7B2AFE1}">
                <File Id="fil8EA56D6C887D90AA745615FCDFC197F9" KeyPath="yes" Source="$(var.BasePath)\Mitto.Logging.dll" />
            </Component>
            <Component Id="cmp56B801D8A2F1F8D0D59B2F8D05A5F402" Guid="{F9B68880-68A3-4139-BE93-293ED2C0B393}">
                <File Id="fil95A13BECAAC303C31A8758FA1CA18BAB" KeyPath="yes" Source="$(var.BasePath)\Mitto.Messaging.dll" />
            </Component>
            <Component Id="cmpEB3F15B5D6817248C0CACA86D168DF88" Guid="{BD4A730A-DECB-43FC-ADE4-A8BB7C079118}">
                <File Id="fil0202A8277D0D8CBCD8CCD61189B9D18C" KeyPath="yes" Source="$(var.BasePath)\Mitto.Messaging.Json.dll" />
            </Component>
            <Component Id="cmp7C67CD8C0A5532BA1E1904B95301B7F6" Guid="{2709F92B-E3E6-4E4F-AC44-1520AF885061}">
                <File Id="fil6E094EA6FD39013299DEBFFCA1C5CA2F" KeyPath="yes" Source="$(var.BasePath)\Mitto.Routing.dll" />
            </Component>
            <Component Id="cmp8EB321BBB258A00058A3B94E6D493EB8" Guid="{AFD45F74-9375-446D-BFB7-A273034A0096}">
                <File Id="fil766236776B5C2177DCD701FBF9F50B46" KeyPath="yes" Source="$(var.BasePath)\Mitto.Routing.PassThrough.dll" />
            </Component>
            <Component Id="cmp0FA4A998D8A79140598BDB2EE2870972" Guid="{1F4E81BA-BCD1-4503-A57F-A1DBCD2C2778}">
                <File Id="fil5744CD523137A3A9D3FD9611D361E214" KeyPath="yes" Source="$(var.BasePath)\Mitto.Subscription.IMessaging.dll" />
            </Component>
            <Component Id="cmp884497124E26F133D906683F8074D87C" Guid="{A8EA2ACB-8995-427B-A8B3-7918A3C02BA7}">
                <File Id="filD1957DAEA30766CFD842CBB6889DB948" KeyPath="yes" Source="$(var.BasePath)\Mitto.Subscription.Messaging.dll" />
            </Component>
            <Component Id="cmp75A5DBE16C73D212443C78E2914C12D7" Guid="{3EB35D98-EC71-48D9-8068-EA56F6F2A9E4}">
                <File Id="fil76CCFEA4CFF9F376C4F00BC0239D0463" KeyPath="yes" Source="$(var.BasePath)\Mitto.Utilities.dll" />
            </Component>
            <Component Id="cmp4EFB553EB2E5B33C7E19F61B4D07E695" Guid="{92206419-C1D4-4D5A-BDA7-07320D1CAF2F}">
                <File Id="fil77E070E2E66A62320DAECFB674DBAD27" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.Bson.dll" />
            </Component>
            <Component Id="cmpC79F34E8D0BC5925B70530D10FD30C1D" Guid="{464713D6-A1E4-4777-94B1-7F05551253B4}">
                <File Id="filE668CCE16FBE249DCD017CAE73B9DCE3" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.Bson.pdb" />
            </Component>
            <Component Id="cmp36D25FE4F5A534566F08F6486722F044" Guid="{FEB2741D-6179-4C33-9382-9ED94A77282A}">
                <File Id="filDBB8742DB2E20F177252DC45D30A0BDF" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp2726933C6814CCFBDFEB0BCDBAA98D9D" Guid="{096F998A-A127-40B1-B16E-DBEF8A41A21D}">
                <File Id="fil11945DBF598F7B2B5D2440D0A18D9BBD" KeyPath="yes" Source="$(var.BasePath)\ShowMeTheXAML.dll" />
            </Component>
            <Component Id="cmpC0547EA6EA20C93E44A8156AEEC541C6" Guid="{B2992CA9-48F6-428F-BB95-77DF85F1D729}">
                <File Id="filBD463FE7ADC788EE33A9FE66F5952D38" KeyPath="yes" Source="$(var.BasePath)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmp992E656E1829E720CC090295CCA6C76B" Guid="{7518CC0B-907B-4374-8EAA-C36D51404210}">
                <File Id="filA2E8C23372FA76FCBF56B6DF5717D341" KeyPath="yes" Source="$(var.BasePath)\websocket-sharp.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmp44FEF0E8B1ACDD0D88ED36E6AA3D8CCC" />
            <ComponentRef Id="cmpEB5C59FB44941462E6F6342227271147" />
            <ComponentRef Id="cmp3924F405DE9C487AFC2B6B906721E51B" />
            <ComponentRef Id="cmpFEC8902766FC7164A98232658262AC84" />
            <ComponentRef Id="cmpB9B439CECC5CCC9C3649DB8F5ADD2349" />
            <ComponentRef Id="cmp2A2930A1B6EF178DF9BA2DBA785F686F" />
            <ComponentRef Id="cmp0FFA39EB86B0A352800537D23A6E2DDD" />
            <ComponentRef Id="cmpB878607AD01F93C904FC366BB8369337" />
            <ComponentRef Id="cmpDEAE395C43641F8BB485F48191C9B7BA" />
            <ComponentRef Id="cmp413628371A9043F2961770271ADB910A" />
            <ComponentRef Id="cmp6E22425B24EFDF7D134251F3D8D471DE" />
            <ComponentRef Id="cmpDBABF49B483D3C8D0D9377C6E89F3FC6" />
            <ComponentRef Id="cmpFA1B1201DB84E07C31BA43B001B22390" />
            <ComponentRef Id="cmpB04E6DCD470AE8CC5E3DDFDAB3046A10" />
            <ComponentRef Id="cmp966587E4C9EE1109495580F1ED7EE6F9" />
            <ComponentRef Id="cmpDEC9BFBA9C6849E86A410567E4741B8D" />
            <ComponentRef Id="cmp037D25DE6A93D2F8919033A2435CAD72" />
            <ComponentRef Id="cmp85FB75BC9029DF8E63931A8BF7D9240C" />
            <ComponentRef Id="cmp016420CD866107B7F93AA3956F2CCB27" />
            <ComponentRef Id="cmpCC1D1D2BA549F7CE77A18B11A637FDCE" />
            <ComponentRef Id="cmpEE17F60BA6A5DD459F7B051691A3A25A" />
            <ComponentRef Id="cmpF1CC645E471B4001C5C8669F9BDC301B" />
            <ComponentRef Id="cmp8F188A2D05506B8561617C4CB9D612B6" />
            <ComponentRef Id="cmpF0AFAE17D21D2D92D26647E7805B4EC9" />
            <ComponentRef Id="cmpB0639ADEC2BF3CBC497FA16DBB07C76E" />
            <ComponentRef Id="cmpAC397588AA54E42A4913C15D10C88CE1" />
            <ComponentRef Id="cmp4D2ED5F47A3FD4D64C2A8FAB43C144A0" />
            <ComponentRef Id="cmp089D45D53FD3775E985A7B3561D902CE" />
            <ComponentRef Id="cmp9414ED36844189D546BC827B4205FD4E" />
            <ComponentRef Id="cmpDF6FEB5FEBE0B4E43FC9F9BAC46FE195" />
            <ComponentRef Id="cmpE56EDFEEF21EC8476F24DD1E90A0760B" />
            <ComponentRef Id="cmpDBBA127A64DFB9F1FEA64D65DEC3C06D" />
            <ComponentRef Id="cmp9A5A848119D47320B2D72503AFFF8B11" />
            <ComponentRef Id="cmp6A04D6CF6D72D5E96400EB9800BC43BB" />
            <ComponentRef Id="cmp2D6AEDC7EE693FDE8F44D0BD264D507F" />
            <ComponentRef Id="cmp84013B279CF2C38251CFDD0495343E54" />
            <ComponentRef Id="cmp496263722141001A21DD258EAE13DEB3" />
            <ComponentRef Id="cmpB1F2BDAC730A2576EC5A5EB742CE90C8" />
            <ComponentRef Id="cmp806E19DB67E5D13C25512ADC089C3C91" />
            <ComponentRef Id="cmp19ACF8C03AF2CE434A6820A0F355B968" />
            <ComponentRef Id="cmp852DB0BE0F586485A2B05568966BE835" />
            <ComponentRef Id="cmpF7FB10003111A9858CEB15511FC4501C" />
            <ComponentRef Id="cmpB85741B8566813C316FF75176E7E3B3F" />
            <ComponentRef Id="cmpC43ED9AB69A80463FF68C45BD4E85683" />
            <ComponentRef Id="cmpE843071C377D1D254F6E808E05AEF4D3" />
            <ComponentRef Id="cmp56B801D8A2F1F8D0D59B2F8D05A5F402" />
            <ComponentRef Id="cmpEB3F15B5D6817248C0CACA86D168DF88" />
            <ComponentRef Id="cmp7C67CD8C0A5532BA1E1904B95301B7F6" />
            <ComponentRef Id="cmp8EB321BBB258A00058A3B94E6D493EB8" />
            <ComponentRef Id="cmp0FA4A998D8A79140598BDB2EE2870972" />
            <ComponentRef Id="cmp884497124E26F133D906683F8074D87C" />
            <ComponentRef Id="cmp75A5DBE16C73D212443C78E2914C12D7" />
            <ComponentRef Id="cmp4EFB553EB2E5B33C7E19F61B4D07E695" />
            <ComponentRef Id="cmpC79F34E8D0BC5925B70530D10FD30C1D" />
            <ComponentRef Id="cmp36D25FE4F5A534566F08F6486722F044" />
            <ComponentRef Id="cmp2726933C6814CCFBDFEB0BCDBAA98D9D" />
            <ComponentRef Id="cmpC0547EA6EA20C93E44A8156AEEC541C6" />
            <ComponentRef Id="cmp992E656E1829E720CC090295CCA6C76B" />
        </ComponentGroup>
    </Fragment>
</Wix>