<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="MainAppShortcut" />
    </ComponentGroup>
    <DirectoryRef Id="AutoRenderClientInstallDir" FileSource="..\..\..\build\Client">
      <!-- Start Menu ShortCut -->
      <Component Id="MainAppShortcut" Guid="{8569EEE8-ADE1-47DF-ABF6-5BDDB8A86A3F}">
        <Shortcut
          Id="MainAppShortcut"
          Name="AutoRender Client"
          Target="[AutoRenderClientInstallDir]AutoRender.exe"
          Directory="ProgramMenuFolderName"
          WorkingDirectory="AutoRenderClientInstallDir"
          Icon="icon" />

        <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\AutoRender\Client" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />

        <!-- Remove On UnInstall -->
        <RemoveFolder Id="RemoveStartMenu" Directory="ProgramMenuFolderName" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>